@charset "UTF-8";

@keyframes blink {
	0% {
		opacity: 0;
	} 50% {
		opacity: 1;
	} 100% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 0;
	} 50% {
		opacity: 1;
	} 100% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 0;
	} 50% {
		opacity: 1;
	} 100% {
		opacity: 0;
	}
}
@-ms-keyframes blink {
	0% {
		opacity: 0;
	} 50% {
		opacity: 1;
	} 100% {
		opacity: 0;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 0;
	} 50% {
		opacity: 1;
	} 100% {
		opacity: 0;
	}
}

.blink {
	-webkit-animation: blink 1.2s infinite;
	-moz-animation: blink 1.2s infinite;
	-ms-animation: blink 1.2s infinite;
	-o-animation: blink 1.2s infinite;
	animation: blink 1.2s infinite;
}
input.text-center {
	margin: 0 auto;
	display: block;
}
span.cleared {color: #0f0; }
p.score:before {content: 'Score: '; }
p.score:after {content: '.'; }
